Thumbs.db
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.user
*.suo
Compiler/CompilerVersion.cs
Compiler/JavaScriptParser/ParserImpl/ES3.tokens
Compiler/JavaScriptParser/ParserImpl/ES3Lexer.cs
Compiler/JavaScriptParser/ParserImpl/ES3Parser.cs
Compiler/JavaScriptParser/ParserImpl/ES3Walker.cs
Compiler/JavaScriptParser/ParserImpl/ES3Walker.tokens
Compiler/packages-manual/antlr/Tool/Templates/messages/languages/*.stg
Runtime/src/Libraries/Knockout/Properties/Version.cs