Thumbs.db
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.user
*.suo
Compiler/CompilerVersion.cs
Compiler/JavaScriptParser/ParserImpl/JavaScript.tokens
Compiler/JavaScriptParser/ParserImpl/JavaScriptLexer.cs
Compiler/JavaScriptParser/ParserImpl/JavaScriptParser.cs
Compiler/JavaScriptParser/ParserImpl/JavaScriptTreeParser.cs
Compiler/JavaScriptParser/ParserImpl/JavaScriptTreeParser.tokens