[submodule "Compiler/NRefactory"]
	path = Compiler/NRefactory
	url = git://github.com/erik-kallen/NRefactory.git
[submodule "Compiler/cecil"]
	path = Compiler/cecil
	url = git://github.com/jbevain/cecil.git
