bin/
obj/
*.suo
*.user
*.cache
*.trx
Scripts/

*/_ReSharper.*
src/Libraries/CoreLib/Properties/Version.cs
src/Libraries/LoaderLib/Properties/Version.cs
src/Libraries/jQuery/jQuery.Core/Properties/Version.cs
src/Libraries/Web/Properties/Version.cs
src/Libraries/jQuery/jQuery.UI/*
tools/jQueryUIGenerator/_ReSharper.jQueryUIGenerator/*
src/Libraries/LinqJS/Properties/Version.cs