<?xml version="1.0"?>
<entry name="menu" type="widget" widget-element="menu">
	<title>Menu Widget</title>
	<desc>
		Themeable menu with mouse and keyboard interactions for navigation.
	</desc>
	<longdesc>
		<p>A menu can be created from any valid markup as long as the elements have a strict parent/child relationship and each menu item has an anchor. The most commonly used element is the unordered list (<code>&lt;ul></code>):</p>

		<pre><![CDATA[
<ul id="menu">
	<li><a href="#">Item 1</a></li>
	<li><a href="#">Item 2</a></li>
	<li><a href="#">Item 3</a>
		<ul>
			<li><a href="#">Item 3-1</a></li>
			<li><a href="#">Item 3-2</a></li>
			<li><a href="#">Item 3-3</a></li>
			<li><a href="#">Item 3-4</a></li>
			<li><a href="#">Item 3-5</a></li>
		</ul>
	</li>
	<li><a href="#">Item 4</a></li>
	<li><a href="#">Item 5</a></li>
</ul>
]]></pre>

		<p>If you use a structure other than <code>&lt;ul></code>/<code>&lt;li></code>, including using the same element for the menu and the menu items, use the <a href="#option-menus"><code>menus</code></a> option to specify a way to differentiate the two elements, e.g., <code>menus: "div.menuElement"</code>.</p>

		<p>Any menu item can be disabled by adding the <code>ui-state-disabled</code> class to that element.</p>

		<p>To add icons to the menu, include them in the markup:</p>

		<pre><![CDATA[
<ul id="menu">
	<li><a href="#"><span class="ui-icon ui-icon-disk"></span>Save</a></li>
</ul>
]]></pre>
		<p>Menu automatically adds the necessary padding to items without icons.</p>

		<h3>Keyboard interaction</h3>

		<ul>
			<li>ENTER/SPACE: Invoke the focused menu item's action, which may be opening a submenu.</li>
			<li>UP: Move focus to the previous menu item.</li>
			<li>DOWN: Move focus to the next menu item.</li>
			<li>RIGHT: Open the submenu, if available.</li>
			<li>LEFT: Close the current submenu and move focus to the parent menu item. If not in a submenu, do nothing.</li>
			<li>ESCAPE: Close the current submenu and move focus to the parent menu item. If not in a submenu, do nothing.</li>
		</ul>

		<p>Typing a letter moves focus to the first item whose title starts with that character. Repeating the same character cycles through matching items. Typing more characters within the one second timer matches those characters.</p>

		<p>Disabled items can receive keyboard focus, but do not allow any other interaction.</p>

		<h3>Dependencies</h3>
		<ul>
			<li><a href="/category/ui-core/">UI Core</a></li>
			<li><a href="/jQuery.widget/">Widget Factory</a></li>
			<li><a href="/position/">Position</a></li>
		</ul>
	</longdesc>
	<note id="functional-css"/>
	<added>1.9</added>
	<options>
		<xi:include href="../includes/widget-option-disabled.xml" xmlns:xi="http://www.w3.org/2003/XInclude"/>
		<option name="icons" type="Object" default='{ submenu: "ui-icon-carat-1-e" }' example-value='{ submenu: "ui-icon-circle-triangle-e" }'>
			<desc>
				Icons to use for submenus, matching an icon defined by the jQuery UI CSS Framework.
				<ul>
					<li>submenu (string, default: "ui-icon-carat-1-e")</li>
				</ul>
			</desc>
		</option>
		<option name="menus" type="String" default='"ul"' example-value='"div"'>
			<desc>Selector for the elements that serve as the menu container, including sub-menus.</desc>
		</option>
		<option name="position" type="Object" default='{ my: "left top", at: "right top" }' example-value='{ my: "left top", at: "right-5 top+5" }'>
			<desc>Identifies the position of submenus in relation to the associated parent menu item. The <code>of</code> option defaults to the parent menu item, but you can specify another element to position against. You can refer to the <a href="/position/">jQuery UI Position</a> utility for more details about the various options.</desc>
		</option>
		<option name="role" type="String" default='"menu"' example-value="null">
			<desc>Customize the ARIA roles used for the menu and menu items. The default uses <code>"menuitem"</code> for items. Setting the <code>role</code> option to <code>"listbox"</code> will use <code>"option"</code> for items. If set to <code>null</code>, no roles will be set, which is useful if the menu is being controlled by another element that is maintaining focus.</desc>
		</option>
	</options>
	<methods>
		<method name="blur">
			<desc>
				Removes focus from a menu, resets any active element styles and triggers the menu's <a href="event-blur"><code>blur</code></a> event.
			</desc>
			<argument name="event" type="Event" optional="true">
				<desc>What triggered the menu to blur.</desc>
			</argument>
		</method>
		<method name="collapse">
			<desc>
				Closes the currently active sub-menu.
			</desc>
			<argument name="event" type="Event" optional="true">
				<desc>What triggered the menu to collapse.</desc>
			</argument>
		</method>
		<method name="collapseAll" example-params='null, true'>
			<desc>
				Closes all open sub-menus.
			</desc>
			<argument name="event" type="Event" optional="true">
				<desc>What triggered the menu to collapse.</desc>
			</argument>
			<argument name="all" type="Boolean" optional="true">
				<desc>Indicates whether all sub-menus should be closed or only sub-menus below and including the menu that is or contains the target of the triggering event.</desc>
			</argument>
		</method>
		<xi:include href="../includes/widget-method-destroy.xml" xmlns:xi="http://www.w3.org/2003/XInclude"/>
		<xi:include href="../includes/widget-method-disable.xml" xmlns:xi="http://www.w3.org/2003/XInclude"/>
		<xi:include href="../includes/widget-method-enable.xml" xmlns:xi="http://www.w3.org/2003/XInclude"/>
		<method name="expand">
			<desc>
				Opens the sub-menu below the currently active item, if one exists.
			</desc>
			<argument name="event" type="Event" optional="true">
				<desc>What triggered the menu to expand.</desc>
			</argument>
		</method>
		<method name="focus" example-params='null, menu.find( ".ui-menu-item:last" )'>
			<desc>
				Activates a particular menu item, begins opening any sub-menu if present and triggers the menu's <a href="#event-focus"><code>focus</code></a> event.
			</desc>
			<argument name="event" type="Event" optional="true">
				<desc>What triggered the menu item to gain focus.</desc>
			</argument>
			<argument name="item" type="jQuery">
				<desc>The menu item to focus/activate.</desc>
			</argument>
		</method>
		<method name="isFirstItem" example-return-var="firstItem">
			<desc>
				Returns a boolean value stating whether or not the currently active item is the first item in the menu.
			</desc>
		</method>
		<method name="isLastItem" example-return-var="lastItem">
			<desc>
				Returns a boolean value stating whether or not the currently active item is the last item in the menu.
			</desc>
		</method>
		<method name="next">
			<desc>
				Moves active state to next menu item.
			</desc>
			<argument name="event" type="Event" optional="true">
				<desc>What triggered the focus to move.</desc>
			</argument>
		</method>
		<method name="nextPage">
			<desc>
				Moves active state to first menu item below the bottom of a scrollable menu or the last item if not scrollable.
			</desc>
			<argument name="event" type="Event" optional="true">
				<desc>What triggered the focus to move.</desc>
			</argument>
		</method>
		<xi:include href="../includes/widget-method-option.xml" xmlns:xi="http://www.w3.org/2003/XInclude"/>
		<method name="previous">
			<desc>
				Moves active state to previous menu item.
			</desc>
			<argument name="event" type="Event" optional="true">
				<desc>What triggered the focus to move.</desc>
			</argument>
		</method>
		<method name="previousPage">
			<desc>
				Moves active state to first menu item above the top of a scrollable menu or the first item if not scrollable.
			</desc>
			<argument name="event" type="Event" optional="true">
				<desc>What triggered the focus to move.</desc>
			</argument>
		</method>
		<method name="refresh">
			<desc>
				Initializes sub-menus and menu items that have not already been initialized. New menu items, including sub-menus can be added to the menu or all of the contents of the menu can be replaced and then initialized with the <code>refresh()</code> method.
			</desc>
		</method>
		<method name="select">
			<desc>
				Selects the currently active menu item, collapses all sub-menus and triggers the menu's <a href="#event-select"><code>select</code></a> event.
			</desc>
			<argument name="event" type="Event" optional="true">
				<desc>What triggered the selection.</desc>
			</argument>
		</method>
		<xi:include href="../includes/widget-method-widget.xml" xmlns:xi="http://www.w3.org/2003/XInclude"/>
	</methods>
	<events>
		<event name="blur">
			<desc>
				Triggered when the menu loses focus.
			</desc>
			<argument name="event" type="Event"/>
			<argument name="ui" type="Object">
				<property name="item" type="jQuery">
					<desc>
						The currently active menu item.
					</desc>
				</property>
			</argument>
		</event>
		<xi:include href="../includes/widget-event-create.xml" xmlns:xi="http://www.w3.org/2003/XInclude"/>
		<event name="focus">
			<desc>
				Triggered when a menu gains focus or when any menu item is activated.
			</desc>
			<argument name="event" type="Event"/>
			<argument name="ui" type="Object">
				<property name="item" type="jQuery">
					<desc>
						The currently active menu item.
					</desc>
				</property>
			</argument>
		</event>
		<event name="select">
			<desc>
				Triggered when a menu item is selected.
			</desc>
			<argument name="event" type="Event"/>
			<argument name="ui" type="Object">
				<property name="item" type="jQuery">
					<desc>
						The currently active menu item.
					</desc>
				</property>
			</argument>
		</event>
	</events>
	<example>
		<desc>A simple jQuery UI Menu</desc>
		<code><![CDATA[
$( "#menu" ).menu();
]]></code>
		<css><![CDATA[
	.ui-menu {
		width: 200px;
	}
]]></css>
		<html><![CDATA[
<ul id="menu">
	<li><a href="#">Item 1</a></li>
	<li><a href="#">Item 2</a></li>
	<li><a href="#">Item 3</a>
		<ul>
			<li><a href="#">Item 3-1</a></li>
			<li><a href="#">Item 3-2</a></li>
			<li><a href="#">Item 3-3</a></li>
			<li><a href="#">Item 3-4</a></li>
			<li><a href="#">Item 3-5</a></li>
		</ul>
	</li>
	<li><a href="#">Item 4</a></li>
	<li><a href="#">Item 5</a></li>
</ul>
]]></html>
	</example>
	<category slug="widgets"/>
</entry>
