<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM.NET" version="7.0.4335.1" />
  <package id="Moq" version="4.0.10827" targetFramework="net40" />
  <package id="NHtmlUnit" version="2.10.0.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
</packages>